                                                                                                                                                                                                                                                             <!DOCTYPE html>
<html>
<head>
    <title>Construction Data Analysis</title>

    <style>
        .container {
            display: flex;
        }

        #left-section {
            flex: 1;
            margin-right: 20px; /* Adjust margin as needed */
        }

        #dataTable {
            flex: 1;
        }

        .dataTable {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        .dataTable th, .dataTable td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            font-size: 12px;
        }

        .dataTable th {
            background-color: #f2f2f2;
        }

        #variable-selection, #results {
            margin-top: 20px;
        }
        .overall-sentiment {
            flex: 1;
            font-weight: bold;
            color: #006400; /* Dark green for positive sentiment */
        }

        .overall-score {
            flex: 1;
            font-style: italic;
            color: #8B0000; /* Dark red for negative sentiment */
        }
    </style>
</head>
<body>
    <h1>Construction Data Analysis Tool</h1>

    <div class="container">
        <!-- Left Section -->
        <div id="left-section">
            <!-- File Upload Form -->
            <form id="upload-form">
                <input type="file" name="file" id="file-upload">
                <input type="button" value="Upload Data" onclick="uploadFile()">
            </form>

            <!-- Variable Selection -->
            <div id="variable-selection">
                <!-- Checkboxes for variable selection will be populated here -->
            </div>

            <!-- Target Column Selection -->
            <label for="target-column">Select Target Column:</label>
            <select id="target-column">
                <!-- Options for target column will be populated here -->
            </select>

            <!-- Start Prediction Button -->
            <button onclick="startPrediction()">Start Prediction</button>

            <!-- Result Display -->
            <div id="results">
                <!-- Prediction results will be displayed here -->
            </div>
        </div>

        <!-- Right Section: DataTable -->
        <div id="dataTable" class="dataTable">
            <!-- First 10 rows of the data table will be displayed-->
        </div>
        <p class="overall-sentiment">Overall Sentiment: {% if sumValue >= 0 %}Positive{% else %}Negative{% endif %}</p><hr>
        <p class="overall-score">Overall Score: {{ sumValue }}</p>
    </div>

    <script>

        let globalData = null;

        function uploadFile() {
            var formData = new FormData(document.getElementById('upload-form'));
            formData.append('file', document.getElementById('file-upload').files[0]);
            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {

                globalData = data;

                populateVariableSelection(data.columns);

                console.log(globalData);
                console.log(data.columns);
                console.log(data.data[0]);

                // Call the function to display the data
                displayDataTable(globalData);

            }).catch(error => console.error('Error:', error));
        }

        function displayDataTable(data) {

            // Delete previously created data table so there is only 1 table displayed
            document.getElementById('dataTable').innerHTML = '';

            // Create a table element
            var table = document.createElement('table');

            // Create table header
            var thead = document.createElement('thead');
            var headerRow = document.createElement('tr');

            // Extract column names from the provided columns array
            var columns = data.columns;

            // Create header cells
            columns.forEach(function (column) {
                var th = document.createElement('th');
                th.textContent = column;
                headerRow.appendChild(th);
            });

            // Append the header row to the thead
            thead.appendChild(headerRow);

            // Append the thead to the table
            table.appendChild(thead);

            // Create table body
            var tbody = document.createElement('tbody');

            // Create rows and cells for the data
            data.data.forEach(function (row) {
                var tr = document.createElement('tr');

                columns.forEach(function (column) {
                    var td = document.createElement('td');
                    td.textContent = row[column];
                    tr.appendChild(td);
                });

                // Append the row to the tbody
                tbody.appendChild(tr);
            });

            // Append the tbody to the table
            table.appendChild(tbody);

            // Append the table to the container in the HTML document
            document.getElementById('dataTable').appendChild(table);
        }


        function populateVariableSelection(columns) {
            var selectionDiv = document.getElementById('variable-selection');
            var targetColumnSelect = document.getElementById('target-column');
            selectionDiv.innerHTML = '';
            targetColumnSelect.innerHTML = '';

            columns.forEach(column => {
                // Checkbox for variable selection
                var checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = column;
                checkbox.name = 'variables';
                checkbox.value = column;

                var label = document.createElement('label');
                label.htmlFor = column;
                label.appendChild(document.createTextNode(column));

                selectionDiv.appendChild(checkbox);
                selectionDiv.appendChild(label);
                selectionDiv.appendChild(document.createElement('br'));

                // Option for target column
                var option = document.createElement('option');
                option.value = column;
                option.text = column;
                targetColumnSelect.appendChild(option);
            });
        }

        function startPrediction() {
            var selectedVariables = Array.from(document.querySelectorAll('input[name="variables"]:checked')).map(cb => cb.value);
            var targetColumn = document.getElementById('target-column').value;
            var formData = new FormData();

            console.log(selectedVariables+"and "+ targetColumn+"and");
            formData.append('selected_columns', JSON.stringify(selectedVariables));
            formData.append('target_column', targetColumn);
            formData.append('data', document.getElementById('file-upload').files[0]);

            fetch('/predict', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {
                displayResults(data);
            }).catch(error => console.error('Error:', error));
        }

        function displayResults(data) {
            if (data.error) {
                alert(data.error);
                return;
            }
            var resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '<img src="data:image/png;base64,' + data.plot_url + '" />';
            // Display other results as needed
        }
    </script>


</body>
</html>


