<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
      <script src="{{url_for('static', filename='parickls.js')}}" defer></script>
      <script src="{{url_for('static', filename='backendComui.js')}}" defer></script>
            <script src="{{url_for('static', filename='showDataTabel.js')}}" defer></script>
      <script src="{{url_for('static', filename='uploadFileHandling.js')}}" defer></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fileInput.css') }}">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

      <title>Construction Data Analysis</title>
   </head>
   <body>




   <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
      <div class="container">
         <h1 id="hh" style="color:white;">Construction Data Analysis Tool</h1>

         <!-- File Upload Form -->
<form class="form-container" enctype='multipart/form-data' id ="upload-form">
	<div class="upload-files-container">
		<div class="drag-file-area">
			<span class="material-icons-outlined upload-icon"> file_upload </span>
			<h3 class="dynamic-message"> Drag & drop any file here </h3>
			<label class="label"> or <span class="browse-files">
                <input type="file" class="default-file-input" id ="x"/>
                <span class="browse-files-text">browse file</span>
                <span>from device</span>
            </span>
            </label>
		</div>
		<span class="cannot-upload-message">
            <span class="material-icons-outlined">error</span> Please select a file first
            <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
		<div class="file-block">
			<div class="file-info">
                <span class="material-icons-outlined file-icon">description</span>
                <span class="file-name"> </span>
                | <span class="file-size"></span>
            </div>
			<span class="material-icons remove-file-icon">delete</span>
			<div class="progress-bar"> </div>
		</div>


      <div id="variable-selection">
            <!-- Checkboxes for variable selection will be populated here -->
         </div>
         <!-- Target Column Selection -->
         <label for="target-column">Select Target Column:</label>
         <select id="target-column">
            <!-- Options for target column will be populated here -->
         </select>
         <!-- Start Prediction Button -->
       	</div>
</form>
         <button class="custom-btn btn-12 " id ="h" onclick="startPrediction()">Click!</button>
<div id="dataTable" class="dataTable"></div>

             <p class="overall-sentiment" id = "overall-sentiment">Overall Sentiment: {% if sumValue >= 0 %}Positive{% else %}Negative{% endif %}</p><hr>
         <p class="overall-score" id = "overall-score">Overall Score: {{ sumValue }}</p>


         <!-- Result Display -->
         <div id="resultImage"></div>
          <div id="newModel"></div>
          <div id="resultdata"></div>
      </div>

</body>

